.App{
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

#wishlist-input{
  width: 50%;
  background-color: rgb(255, 136, 136);
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#wishlist-form{
  background-color: rgb(249, 109, 109);
  margin-left: 12%;
  width: 75%;
  padding-bottom: 5px;
}